<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhyejin99.inuclub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jhyejin99.inuclub.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jhyejin99.inuclub.Settings.Loading"></activity>
        <activity android:name="com.jhyejin99.inuclub.Settings.SettingAlarm"></activity>
        <activity android:name="com.jhyejin99.inuclub.Settings.SettingClubEdit"></activity>
        <activity android:name="com.jhyejin99.inuclub.Settings.SettingEvent"></activity>
        <activity android:name="com.jhyejin99.inuclub.Settings.Events.SettingEventAdd"></activity>
        <activity android:name="com.jhyejin99.inuclub.Settings.Login"></activity>
        <activity android:name=".Homes.CateClubList"></activity>
        <activity android:name=".Settings.Events.SettingEventDetail"></activity>
        <activity android:name=".Homes.ClubDetail"></activity>
        <activity android:name=".Homes.ApplyPopup" android:theme="@style/Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>