<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhyejin99.inuclub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".for_test"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings.Loading" />
        <activity android:name=".Settings.SettingAlarm" />
        <activity android:name=".Settings.SettingClubEdit" />
        <activity android:name=".Settings.SettingEvent" />
        <activity android:name=".Settings.Events.SettingEventAdd" />
        <activity android:name=".Settings.Login" />
        <activity android:name=".Homes.CateClubList" />
        <activity android:name=".Settings.Events.SettingEventDetail" />
        <activity android:name=".Homes.ClubDetail" />
        <activity android:name=".Splash" />
        <activity
            android:name=".Homes.ApplyPopup"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".MakeVoteActivity"/>
    </application>

</manifest>